<h2 mat-dialog-title>RESERVE TOKEN</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Token State</mat-label>
    <mat-select [(ngModel)]="selectedTokenState" required>
      <mat-option *ngFor="let state of TokenState" [value]="state">{{
        state
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="!selectedTokenState">Token state is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Patient ID</mat-label>
    <input matInput [(ngModel)]="patientID" required />
    <mat-error *ngIf="!patientID">Patient ID is required</mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" (click)="reserveToken()">
    Reserve
  </button>
</mat-dialog-actions>
