<div class="container">
  <div class="float-child">
    <div class="col-md-12">
      <h1>PATIENTS LIST</h1>

      <div class="input-group">
        <input
          type="text"
          id="form1"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="searchText"
        />
        <button type="button" class="btn btn-secondary">
          <i class="bi bi-search"></i>
        </button>
      </div>
      <div
        class="btn-addPatient"
        style="display: flex; justify-content: center"
      >
        <a
          routerLink="/admin/add-patient"
          class="m-3 btn btn-secondary tooltips"
          data-placement="top"
          data-toggle="tooltip"
          data-original-title="Validate"
          >ADD PATIENT</a
        >
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let patient of patients | search : searchText;
              let i = index
            "
            [class.active]="i == currentIndex"
            (click)="setActivePatient(patient, i)"
          >
            <td>{{ patient.firstName + " " + patient.lastName }}</td>
            <td>{{ patient.gender }}</td>
            <td>{{ patient.dob }}</td>
            <td>{{ patient.email }}</td>
            <td>{{ patient.contactNum }}</td>
            <td>
              <a
                class="btn btn-sm btn-secondary tooltips mr-2"
                data-placement="top"
                data-toggle="tooltip"
                data-original-title="Edit"
                (click)="openPatientDialog(patient)"
              >
                <i class="bi bi-eye"></i>
              </a>

              <a
                class="btn btn-sm btn-danger btn-secondary tooltips"
                data-placement="top"
                data-toggle="tooltip"
                data-original-title="Delete"
                (click)="remove(patient.id)"
              >
                <i class="bi bi-trash3"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <button class="m-3 btn btn-sm btn-danger">Remove All</button>
    </div>
  </div>

  <!-- <div class="float-child" style="flex: 3">
    <div style="position: sticky; top: 40px; z-index: 1">
      <div class="col-md-6" style="position: sticky; top: 0; margin-top: 30px">
        <app-patient-details
          [viewMode]="true"
          [currentPatient]="currentPatient"
        ></app-patient-details>
      </div>
    </div>
  </div> -->
</div>
