<div class="container">
  <div class="float-child">
    <div class="col-md-12">
      <h1>TOKEN HISTORY</h1>

      <div class="input-group">
        <!-- <input
            type="text"
            id="form1"
            class="form-control"
            placeholder="Search"
            [(ngModel)]="searchText"
            (input)="applyFilter()"
          /> -->
        <input
          placeholder="Search patient"
          type="text"
          id="form1"
          class="form-control"
          matInput
          (keyup)="FilterChange($event)"
        />
        <button class="btn-secondary">
          <i class="bi bi-search"></i>
        </button>
      </div>

      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef
            ><strong>ID</strong></mat-header-cell
          >
          <mat-cell *matCellDef="let patient">{{ patient.id }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef
            ><strong>Name</strong></mat-header-cell
          >
          <mat-cell *matCellDef="let patient">{{
            patient.firstName + " " + patient.lastName
          }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['id', 'name']"></mat-header-row>
        <mat-row
          *matRowDef="let patient; columns: ['id', 'name']"
          [ngClass]="{ 'selected-row': patient === selectedPatient }"
          (click)="selectPatient(patient)"
        >
          {{ patient | search : searchText }}
        </mat-row>
      </mat-table>
      <br />
      <mat-paginator
        [pageSize]="3"
        [pageSizeOptions]="[3, 16, 24]"
      ></mat-paginator>
      <div class="input-group">
        <!-- <input
          type="number"
          class="form-control"
          [(ngModel)]="patientID"
          placeholder="Enter Patient ID"
        /> -->
        <button class="btn btn-secondary" (click)="getTokensForPatient()">
          GET TOKENS
        </button>
      </div>

      <table class="table table-bordered mt-3" *ngIf="patientTokens">
        <thead>
          <tr>
            <th>Token number</th>
            <th>Date</th>
            <th>State</th>
            <th>Patient ID</th>
            <th>Patient name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let token of patientTokens | tokenSort">
            <td>{{ token.tokenNum }}</td>
            <td>{{ token.selectedDay }}</td>
            <td>{{ token.state }}</td>
            <td>{{ token.reservedByID }}</td>
            <td>{{ token.reservedByName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
