<div class="container" *ngIf="currentUser; else loggedOut">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        Welcome, <strong>{{ newUser?.username }}</strong>
      </h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h4>Profile Information</h4>
          <p>
            <strong>Name:</strong>
            {{ newUser?.firstName + " " + newUser?.lastName }}
          </p>
          <p><strong>Date of Birth:</strong> {{ newUser?.dob }}</p>
          <p>
            <strong>Contact Number:</strong> {{ "0" + newUser?.contactNum }}
          </p>
          <p><strong>Email:</strong> {{ newUser?.email }}</p>
          <p *ngIf="currentUser.roles.includes('ROLE_ADMIN')">
            <strong>Roles:</strong>
          </p>
          <ul *ngIf="currentUser.roles.includes('ROLE_ADMIN')">
            <li *ngFor="let role of currentUser.roles">
              {{ convertRoleName(role) }}
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4>Actions</h4>
          <button class="btn btn-secondary" (click)="changePassword()">
            Change Password
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  <p class="text-center mt-5">Please log in to view your profile.</p>
</ng-template>
