*{
    font-size: 18px;
    ;
  }
  
  .list-item-button {
    color: #fff; /* Change to the desired font color */
  }
  
  p {
    color: #fff;
  }
  
  .sidebar {
    background-color: rgb(103, 91, 91); /* Change to the desired background color */
    color: #fff; /* Change to the desired text color */
    height: calc(100vh - 56px); /* Subtract the height of the navbar */
    position: fixed;
    left: 0;
    top: 56px; /* Set to the height of the navbar */
    z-index: 1000; 
  }
  
  /* .sidebar {
      background-color: #333; 
      height: 100vh; 
      width: 250px; 
      position: fixed; 
      left: 0; 
      top: 0; 
      z-index: 1000; 
    }
    
   
    .sidebar a {
      color: white; 
      display: block;
      padding: 15px;
      text-decoration: none;
    }
    
  
    .sidebar a.active {
      background-color: #555;
    } */