<div class="container">
  <div class="float-child">
    <div class="col-md-12">
      <h1>Reserve Tokens</h1>

      <div
        class="btn-addPatient"
        style="display: flex; justify-content: center"
      >
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="selectedDate"
            (dateChange)="onDateChange()"
            min="{{ minDate }}"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <button class="btn btn-primary ml-2" (click)="checkAvailability()">
        Check Availability
      </button>
      <div *ngIf="showAvailability" class="availability-info">
        <strong
          ><p>Number of available tokens: {{ availability }}</p></strong
        >
        <button
          *ngIf="availability > 0"
          type="button"
          class="btn btn-primary dialog-button"
          (click)="reserveToken()"
        >
          <i class="bi m-2 bi-ticket-perforated"></i>RESERVE
        </button>
        <div *ngIf="loading" class="loading-overlay">
          <mat-spinner diameter="60" color="primary"></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
