<div class="container">
  <h2>Change Password</h2>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input
        type="password"
        formControlName="oldPassword"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input
        type="password"
        formControlName="newPassword"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm New Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        required
      />
      <div *ngIf="changePasswordForm.hasError('passwordsNotMatch')">
        <P class="error">PASSWORDS DO NOT MATCH</P>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-secondary"
      [disabled]="!changePasswordForm.valid"
    >
      Change Password
    </button>
    <div class="alert alert-warning mt-3" *ngIf="isFailed">
      Password Change failed!<br />{{ errorMessage }}
    </div>
  </form>
</div>
