<h2 mat-dialog-title>RESERVE TOKEN</h2>
<mat-dialog-content>
  <!-- <mat-form-field>
    <mat-label>Patient ID</mat-label>
    <input matInput [(ngModel)]="reservedByID" required />
    <mat-error *ngIf="!reservedByID">Patient ID is required</mat-error>
  </mat-form-field> -->
  <div class="input-group">
    <!-- <input
      type="text"
      id="form1"
      class="form-control"
      placeholder="Search"
      [(ngModel)]="searchText"
    /> -->
    <input
      placeholder="Search patient"
      matInput
      (keyup)="FilterChange($event)"
    />
    <button type="button" class="btn btn-primary">
      <i class="bi bi-search"></i>
    </button>
  </div>

  <!-- <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let patient of patients | search : searchText; let i = index"
        [ngClass]="{ 'selected-row': patient === selectedPatient }"
        (click)="selectPatient(patient)"
      >
        <td>{{ patient.id }}</td>
        <td>{{ patient.firstName + " " + patient.lastName }}</td>
      </tr>
    </tbody>
  </table> -->
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef><strong>ID</strong></mat-header-cell>
      <mat-cell *matCellDef="let patient">{{ patient.id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef><strong>Name</strong></mat-header-cell>
      <mat-cell *matCellDef="let patient">{{
        patient.firstName + " " + patient.lastName
      }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['id', 'name']"></mat-header-row>
    <mat-row
      *matRowDef="let patient; columns: ['id', 'name']"
      [ngClass]="{ 'selected-row': patient === selectedPatient }"
      (click)="selectPatient(patient)"
    ></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="3" [pageSizeOptions]="[3, 16, 24]"></mat-paginator>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    [mat-dialog-close]="selectedPatient"
    (click)="dialogRef.close()"
  >
    Cancel
  </button>
  <button mat-button [mat-dialog-close]="data" (click)="reserveToken()">
    Reserve
  </button>
  <div *ngIf="loading" class="loading-overlay">
    <mat-spinner diameter="60" color="primary"></mat-spinner>
  </div>
</mat-dialog-actions>
