.input-group {
    padding: 30px;
  }

  .container {
    margin-top: 70px;
  }

  h1 {
    padding: 30px;
  }

  .availability-info {
    margin-top: 20px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    /* background-color: #8c8585; */
  }