<div class="container">
  <div class="float-child">
    <div class="col-md-12">
      <h1>TOKEN HISTORY</h1>

      <!-- <div class="input-group">
        <input
          type="number"
          class="form-control"
          [(ngModel)]="patientID"
          placeholder="Enter Patient ID"
        />
        <button class="btn btn-primary" (click)="getTokensForPatient()">
          Get Tokens
        </button>
      </div> -->
      <div class="input-group">
        <input
          type="text"
          id="form1"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="searchText"
        />
        <button onclick="onSearch()">
          <i class="bi bi-search"></i>
        </button>
      </div>

      <table class="table table-bordered mt-3" *ngIf="patientTokens">
        <thead>
          <tr>
            <th>Token number</th>
            <th>Date</th>
            <th>State</th>
            <th>Patient ID</th>
            <th>Patient name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let token of patientTokens | tokenSort | search : searchText;
              let i = index
            "
            [class.active]="i == currentIndex"
            (click)="setActiveToken(token, i)"
          >
            <td>{{ token.tokenNum }}</td>
            <td>{{ token.selectedDay }}</td>
            <td>{{ token.state }}</td>
            <td>{{ token.reservedByID }}</td>
            <td>{{ token.reservedByName }}</td>
            <td>
              <a
                class="btn btn-secondary tooltips"
                data-placement="top"
                data-toggle="tooltip"
                data-original-title="Delete"
                (click)="remove(token.tokenNum)"
              >
                <i class="bi bi-trash3"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
